/* HEADER */
.header {
  background: #131A0A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-img {
  height: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 494px;
  height: 70px;
  border: 1px solid #34AC40;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

.search-bar input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
  color: #34AC40;
}

.search-bar button {
  width: 50px;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #34AC40;
}

.search-bar button svg {
  width: 26px;
  height: 26px;
}

.header-buttons .cart-button {
  background-color: #131A0A; /* mesma cor do header */
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* necessário para posicionar a bolinha */
  transition: 0.2s;
}

.header-buttons .cart-button:hover {
  background-color: #17200c; /* hover um pouco mais claro */
}

.header-buttons .cart-count {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: #ff8800; /* laranja */
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 17px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
