.controls {
  display: flex;
  justify-content: space-between; /* Itens por página à esquerda, paginação à direita */
  align-items: center;
  margin: 15px 0 20px 0;
}

.items-per-page {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre texto e select */
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px; /* espaço entre os botões */
}

.pagination button {
  padding: 4px 10px;
  border: 1px solid #1da039;
  background-color: #1da039;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button.active {
  background-color: #1da039;
  color: white;
  border-color: #1da039;
}

@media (max-width: 768px) {
  .pagination button {
    padding: 6px 8px;
    font-size: 12px;
  }
}

